@model AddUserModel
@{
    ViewData["Title"] = "Add New User";
}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <form method="post">
            <h4>Add new user.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" value="Password-1" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" value="Password-1" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role"></label>
                <select  asp-for="Role"
                        asp-items="@(new SelectList(@ViewBag.roles, "Name", "Name"))" class="form-control">
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Add User</button>
        </form>
    </div>
</div>